/*
    58638D, - l-bl
    383F5A  - d-bl
    40371B  - br

    eee - l-gr
    333 - d-gr
*/

html, body {
    margin: 0px;
    background-color: #eee;
    font-family: Arial;
    overflow: hidden;
    height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
    overflow: auto;
}

body > header {
    height: 50px;
    background-color: #58638D;
    color: white;
}

body > header > * {
    display: inline-block;
    height: calc( 100% - 10px );
    padding: 5px;
    cursor: pointer;
    vertical-align: middle;
}
body > header > *:first-of-type {
    background-color: #383F5A;
}

#logo {
    height: 100%;
}

body > main,
body > aside {
    display: block;
    height: calc( 100vh - 50px );
    float: left;
    overflow: hidden;
}
#block-bar { overflow-y: scroll; }

body > main {
    position: relative;
    width: calc( 100vw - 300px - 55px );
    overflow: scroll;
    -webkit-transition: width 1s;
    transition: width 1s;
}
.show-config-bar > main {
    width: calc( 100vw - 300px - 300px );
}

body > aside {
    width: 300px;
    color: white;
    background-color: #383F5A;
    text-align: center;
    vertical-align: middle;
}

#config-bar {
    width: 55px;
    -webkit-transition: width 1s;
    transition: width 1s;
    overflow: hidden;
}

#config-bar header {
    font-size: 32px;
}
#config-bar header:hover {
    cursor: pointer;
}

#config-bar content {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
    display: none;
    padding: 50px 20px 0 0;
    text-align: right;
}

#config-bar content .param {
    margin-top: 5px;
}

#config-bar content .param label {
    font-weight: bold;
    margin-right: 5px;
}

.show-config-bar #config-bar {
    width: 300px;
}
.show-config-bar #config-bar content {
    opacity: 1;
    display: block;
}


body > .half { height: calc( 50% - 25px ); }
.half { height: 50%; }
.right { float: right; }
.left { float: left; }
.center:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

#chart-container,
#chart-canvas {
    height: 5000px;
    width: 5000px;
    overflow: hidden;
    position: absolute;
    top: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style: none;
}

.block {
    width: 200px;
    height: 80px;
    background-color: #eee;
    border-radius: 5px;
    border-bottom: 5px solid;
    box-shadow: 0px 0px 15px #777;
    overflow: hidden;
    margin: 10px auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.block.active {
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 5px green;    
    border: 2px solid green;
    margin: 8px -2px;
    border-bottom: 5px solid green;
}
.block.template {
    cursor: move;
}
.block[data-type="start"].template {
    display: none;
}
.block[data-type="loop"].full {
    height: auto;
    width: auto;
}
.block[data-type="loop"].full .block {
    margin: 15px;
    width: inherit;
    min-width: 200px;
}

.block header {
    background-color: #fff;
    color: #333;        
    padding: 5px;
    text-align: center;
}
.block header::after{
    content: attr(data-count);
    float: right;
    color: #777;
}
.block.active header { cursor: move; }

#arduino-image {
    background-image: url('../img/arduino.png');
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #58638D;
    background-position: top center;
}
